#csicon{
    width: 150px;
    height: 100px;
    padding: 10px;
}

#navbarNavDropdown{
    font-size: x-large;
}

body{
    background-image: url(../img/background.png);
    background-size: 100% auto !important;
    background-attachment: fixed;
}

#wikicard{
    margin-right: 150px;
    margin-left: 150px;
    margin: 50px;
}