#csicon{
    width: 150px;
    height: 100px;
    padding: 10px;
}

#navbarNavDropdown{
    font-size: x-large;
}

body{
    background-image: url(../img/background.png);
    background-size: 100% auto !important;
    background-attachment: fixed;
}

#wikicard{
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
}

#card1{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
    color: white;
}

#navbar{
    color: papayawhip;
}